- name: "Run all role tasks for Linux"
  ansible.builtin.include_tasks: run_all_tasks.yml
  vars:
    cfg_sudo_system_sudoers_d_dir: "{{ cfg_sudo_linux_sudoers_d_dir }}"
    cfg_sudo_system_sudoers_file_group: "{{ cfg_sudo_linux_sudoers_file_group }}"
  when: ansible_system == "Linux"

- name: "Run all role tasks for FreeBSD"
  ansible.builtin.include_tasks: run_all_tasks.yml
  vars:
    cfg_sudo_system_sudoers_d_dir: "{{ cfg_sudo_freebsd_sudoers_d_dir }}"
    cfg_sudo_system_sudoers_file_group: "{{ cfg_sudo_freebsd_sudoers_file_group }}"
  when: ansible_os_family == "FreeBSD"

