- name: "Set sudo-command-umask to 0022 (same as root-user default umask)"
  ansible.builtin.include_tasks: func/edit_sudoers_opt.yml
  vars:
    description: "set sudo umask 0022 (same as root's) to {{ use_root_umask }}"
    config_lines: >-
      Defaults umask=0022
    task_state: "{{ 'present' if use_root_umask else 'absent' }}"

- name: "Make sudo always use its own sudo-command-umask"
  ansible.builtin.include_tasks: func/edit_sudoers_opt.yml
  vars:
    description: "make sudo always use sudo-cmd-umask to {{ use_root_umask }}"
    config_lines: >-
      Defaults umask_override
    task_state: "{{ 'present' if use_root_umask else 'absent' }}"

