- name: "Gather existing files in '{{ cfg_sudo_system_sudoers_d_dir }}'"
  ansible.builtin.include_tasks: gather_existing_files.yml

- name: "Emplace rules files in '{{ cfg_sudo_system_sudoers_d_dir }}'"
  ansible.builtin.include_tasks: emplace_rules_files.yml

- name: "Remove old/extra files in '{{ cfg_sudo_system_sudoers_d_dir }}'"
  ansible.builtin.include_tasks: rem_non_ans_files.yml

