# vim: set filetype=sudoers:
# ANSIBLE-MANAGED CONFIGURATION FILE

# set password wait-period before ask again
Defaults timestamp_timeout={{ ask_passwd_timeout_minutes }}

# set timeout-quit after asking for password
Defaults passwd_timeout={{ cfg_sudo_password_prompt_timeout_minutes }}

# set sudo umask 0022 (same as root's)
{{ '# ' if not cfg_sudo_use_root_umask else '' }}Defaults umask=0022

# make sudo always use sudo-cmd-umask
{{ '# ' if not cfg_sudo_use_root_umask else '' }}Defaults umask_override

